ol {
  margin-left: 40%;
  margin-right: 30%;
  font-size: 20px;
  font-family: sans-serif;
}

h3 {
  font-family: 'Trirong', serif;
  text-align: center;
  font-size: 40px;
}

ul {
    list-style-type: none;
    font-size: 18px;
}

p {
  font-size: 18px;
}

.emphasis {
  font-weight: bold;
  font-style: italic;
}

.list-box {
  border: 2px solid black;
  padding: 20px;
  background-color: #f2f2f2;
}

.jumbotron {
  margin-top: 20px;
  border: 2px solid black;
  padding: 0.5em 0.6em;

}

.add-margin {
  margin: 20px;
}

.italic {
  font-style: italic;
}

.sidebar {
  width: 30%;
  float: right;
}

.mainbar {
  width: 70%;
  float: left;
}

.headers {
  font-family: 'Trirong', serif;
  text-align: center;
  margin: 0% 20%;
}

.prowork {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: black;
}

.artport {
  font-family: 'Libre Franklin', sans-serif;
  text-align: justify;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: black;
}

.goal {
  text-align: justify;
  font-family: 'Work Sans', sans-serif;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: black;
}
