body {
  background-image: url("../img/bgimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: -2;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 25px;
  text-align: justify;
  margin: 0% 25%;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 20px;
  margin: 0% 25% 3%;
  text-align:justify;
  font-family: 'Raleway', sans-serif;
}

ul{
  text-align: center;
  margin: 0% 2% 10% 0%;
  font-size: 30px;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
}

img {
  margin: 5% 25%;
  width: 50%;
  height: 50%;
}

.flashy {
  color: red;
  font-style: italic;
}

.seasonal {
  text-align: center;
  color: red;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.background {
  background-color: white;
  height: 85%;
  width: 60%;
  padding: 0;
  opacity: 0.4;
  margin: 0% 20%;
  position: absolute;
  z-index: -1;
}

.best {
  font-size: 45px;
  font-style: italic;
  margin: 1%;
}
